%h1
  Items

%a{ href: new_item_path }
  New Item

%hr

%table
  %thead
    %tr
      %th
        Title
      %th
        Completed At

  %tbody
    - @items.each do |item|
      %tr
        %td
          %a{ href: item_path(item) }
            = item.title
        %td
          = item.completed_at

